{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}

{{ $slug := .RelPermalink | sha256 }}
{{ $all_mentions := index $.Site.Data.mentions $slug | default slice }}
{{ $likes := slice }}
{{ $reposts := slice }}
{{ $replies := slice }}
{{ $mentions := slice }}
{{ $rest := slice }}

{{ range $all_mentions }}
{{ $type := (index . "wm-property") }}
{{ if (eq $type "like-of") }}
{{ $likes = $likes | append . }}
{{ else if (eq $type "repost-of") }}
{{ $reposts = $reposts | append . }}
{{ else if (eq $type "in-reply-to") }}
{{ $replies = $replies | append . }}
{{ else if (eq $type "mention-of") }}
{{ $mentions = $mentions | append . }}
{{ else }}
{{ $rest = $rest | append . }}
{{ end }}
{{ end -}}

<article class="h-entry" id="skip-to-content" role="article" aria-labelledby="{{ anchorize .Title }}">
    <header aria-labelledby="{{ anchorize .Title }}" role="heading" aria-level="1">
      <hgroup>
          <h1 class ="p-name" id="{{ anchorize .Title }}"><a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h1>
          {{- with .Params.title_sub }}<h2>{{ . }}</h2>{{- end }}
          {{- with .Params.headline }}<h3>{{ . }}</h3>{{- end }}
      </hgroup>
      <p class="colophon">Written by <a class="p-author h-card" href="/">{{ .Site.Params.author | safeHTML }}</a> on
          {{ with .Date }}<time class="dt-published" aria-label="Published On" datetime="{{ dateFormat $.Site.Params.iso8601_format . }}">{{ dateFormat "2006-01-02" . }}</time> {{- end }}
      </p>
    </header>
    <section class="content e-content" role="region" aria-label="Content">
      {{ .Content }}
      <footer class="metaline">	
	<ul class="response-summary">
	  <li>{{ $likes | len }} likes</li>
	  <li>{{ $reposts | len }} reposts</li>
	  <li>{{ $replies | len }} replies</li>
	</ul>

      </footer>
    </section>
    <section class="content" id="webmentions">
      {{- if lt 0 (len $likes) }}
      <h3>Likes</h3>
      {{ $.Scratch.Set "class" "p-like" }}
      <ul class=facepile>
	{{ range $likes }}
	{{ partial "facepile-entry.html" . }}
	{{ end }}
      </ul>
      <div style="clear:both;"></div>
      {{ end -}}

      {{- if lt 0 (len $reposts) }}
      <h3>Reposts</h3>
      {{ $.Scratch.Set "class" "p-repost" }}
      <ul class=facepile>
	{{ range $reposts }}
	{{ partial "facepile-entry.html" . }}
	{{ end }}
      </ul>
      <div style="clear:both;"></div>
      {{ end -}}
      
      {{ if lt 0 (len $replies) }}
      <h3>Replies</h3>
      <ul id="replies">
	  {{ range $replies }}
	  {{ $time := time "2000-04-01" }}
	  {{ with .published }}
	  {{ $time = time . }}
	  {{ else }}
	  {{ $time = time (index . "wm-received") }}
	  {{ end }}
	  <li class="p-comment h-cite comment">
	    {{ with .author }}
	    {{ partial "author.html" . }}
	    {{ end }}
	    {{ partial "wm-content.html" . }}
	    {{ partial "wm-metaline.html" . }}
	  </li>
	  {{ end }}
      </ul>
      <div style="clear:both;"></div>
      {{ end }}
      {{ if lt 0 (len (append $mentions $rest)) }}
      <h3>Other Mentions</h3>
      <ul id="other-mentions">
	{{ range $mentions | append $rest }}
	{{ if lt 0 (len (index .author "url")) }}
	<li class="p-comment h-cite comment">
	  {{ with .author }}
	  {{ partial "author.html" . }}
	  {{ end }}
	  {{ partial "wm-content.html" . }}
	  {{ partial "wm-metaline.html" . }}
	  
	</li>
	{{ end }}
	{{ end }}
      </ul>
      <div style="clear:both;"></div>
      {{ end }}

    </section>
    <footer role="complementary" aria-label="Metadata and Related Posts">
        <nav>
            {{- if .Params.tags }}
            <p aria-label="Tags">
                {{- with .Params.tags }}<span id="skip-to-tags">{{ partial "tags.html" . }}</span>{{- end }}
            </p>
            {{- end }}
        </nav>
    </footer>
  </article>
{{ end }}
