<div class="p-author h-card author">
  {{ $url := urls.Parse .url }}
  {{- with .photo }}
  <img class="u-photo" src="{{ . }}" data-src="{{ . }}" width="48">
  {{ else }}
  <img src="/assets/images/no-profile-photo.png">
  {{ end -}}
  {{ if (isset . "name") }}
  <a class="p-name u-url" href="{{ .url }}">
    {{ .name }}
  </a>
  <a class="author_url" href="{{ .url }}">
    {{ .url }}
  </a>
  {{ else }}
  <a class="p-name u-url" href="{{ .url }}">
    {{ $url.Host }}/{{ $url.Path }}
  </a>
  {{ end }}
</div>
  
