<div class="h-card" role="brand">
    <h1>
        <a class="u-url"
           accesskey="h"
           rel="me"
           href="{{ .Site.BaseURL }}"
           {{ if eq (string $.Page.Permalink) (string .Site.BaseURL) -}}
               class="active"
           {{- end }}
           title="Homepage of {{ .Site.Title }}"
           aria-label="Homepage of {{ .Site.Title }}">Just a Summary</a>
    </h1>
    <p class="description">

        The personal website of <span class="p-name">{{ .Site.Params.author | safeHTML }}</span> (<span class="p-x-pronoun-nominative">they</span>/<span class="p-x-pronoun-oblique">him</span>) <br>
        <span class="bullet">—</span>
        <span class="p-note"><span class="p-job-title">baker/owner</span> of
            <a class="p-org h-card" href="https://loafery.co.uk">The Loafery</a>,
            folk singer and photographer.
        </span>
    </p>

    <figure><img class="u-photo" src="/images/whoami/avatar.jpg" alt="" /></figure>

</div>
