<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,700;1,700&family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Alegreya:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<style type="text/css" media="screen,print">
 {{ (resources.Get "css/tufte.scss" | resources.ToCSS | resources.Minify).Content | safeCSS }}
</style>
<style type="text/css" media="print">
 {{ (resources.Get "css/print.scss" | resources.ToCSS | resources.Minify).Content | safeCSS }}
</style>
<style type="text/css" media="screen,print">
  {{ (resources.Get "css/overrides.scss" | resources.ToCSS | resources.Minify).Content | safeCSS }}
</style>
{{- $tufteAmpCssResource := resources.Get "css/tufte-amp.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<meta name="amp-css-name" content="{{ $tufteAmpCssResource.RelPermalink }}">
{{ range .Site.Home.AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title | safeHTML }} {{ .Name }} Feed" />
{{ end -}}
{{- range .Site.Menus.me_elsewhere }}
<link rel="me" href="{{ .URL }}" title="{{ .Name }}">
{{- end }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<link rel="webmention" href="https://webmention.io/bofh.org.uk/webmention" />
<link rel="pingback" href="https://webmention.io/bofh.org.uk/xmlrpc" />
