<h3 class="sidebar-title">About Piers</h3>
<div class="sidebar-body">
  <div id="hcard" class="vcard">
      <p>
          <a href="http://www.flickr.com/photos/pdcawley/54445014/" title="Piers Cawley @ Flickr"><img class="photo fn" src="https://farm5.staticflickr.com/4257/35325157420_a2f923f5f3_m_d.jpg" width="240" height="238" alt="Piers Cawley" /></a>
    </p>
    <p>Piers is a programmer, photographer, singer, cook and all round geek. He's based in Doncaster and, if you need to get in touch with him, you should try one of these:</p>
    <ul>
      <li style="display:none"><a class="url" href="http://www.bofh.org.uk/"><span class="fn">Piers Cawley</span></a></li>
      <li>Email: <a class="email" href="mailto:pdcawley@bofh.org.uk">pdcawley@bofh.org.uk</a></li>
      <li>Twitter: <a class="twitter" href="http://www.twitter.com/pdcawley">@pdcawley</a></li>
    </ul>
  </div>
</div>
