{{ partial "archive-header.html" . }}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
  <div class="container archives">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Archives</h1>
          <hr class="small">
          <span class="subheading">{{ .Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container archives">
  <div class="row">
    <div class="col-sm-8">
      {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups }}
      <h3>{{ .Key }}</h3>
      {{range .Pages }}
      {{ .Render "archive" }}
      {{ end }}
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="col-sm-3 col-sm-offset-1" id="sidebar">
      {{ partial "sidebar.html" }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
